@model CreateFeatureDetailDto

@{
    ViewData["Title"] = "CreateFeatureDetail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Nümayiş Etdirilənlərin əməliyyatları</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Nümayiş Etdirilənlər Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Ad</label>
                                <input type="text" class="form-control" asp-for="Title" id="title">
                            </div>
                            <div class="form-group">
                                <label for="description">Məlumat</label>
                                <textarea rows="5" class="form-control" asp-for="Description"></textarea>

                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Təsdiq Et</button>
                            <a href="@Url.Action("Index", "FeatureDetail")" class="btn btn-secondary">İmtina Et</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


