<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Admin Panel 
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Menyunu Gör</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Şifrəni Yenilə</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Parametrlər</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="components.html">
					<i class="la la-table"></i>
					<p>Menyunu Gör</p>
					<span class="badge badge-count">14</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index/">
					<i class="la la-keyboard-o"></i>
					<p>Kateqoriyalar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Product/Index/">
					<i class="la la-th"></i>
					<p>Məhsullar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-bell"></i>
					<p>Rezervasiyalar</p>
					<span class="badge badge-success">3</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index/">
					<i class="la la-font"></i>
					<p>Haqqımızda</p>
					<span class="badge badge-danger">25</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Mesajlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Endirimlər</p>
				</a>
			</li><li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Önə Çıxanlar</p>
				</a>
			</li><li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Sosial Media</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Statistikalar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Parametrlər</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Çıxış Et</p>
				</a>
			</li>
		</ul>
	</div>
</div>